<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SMIL Messenger</title>

        <!-- CSS -->
        <%- include('partials/css.ejs') %>
    </head>
    <body>
        
        <%- include('partials/navbar.ejs', {page: 'sent', user}) %>


        <div class="sidebar-outside-container">
            <div class="container-fluid">
                <% for(let i = 0; i < sentMessages.length; i++) { %>
                    <p><%= sentMessages[i].timeStamp %></p>
                    <p><%= sentMessages[i].composer %></p>
                    <p><%= sentMessages[i].recepient %></p>
                    <p><%= sentMessages[i].subject %></p>
                    <p><%= sentMessages[i].textMessage %></p>
                    <p><%= sentMessages[i].textDuration %></p>
                    <p><%= sentMessages[i].smilMessage %></p>
                    <hr>
                <% } %>
            </div>
        </div>

        <!--Scripts-->
        <%- include('partials/scripts.ejs') %>
    </body>
</html>